@page
@model AddLineTest.Pages.RecipeItems.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RecipeItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecipeItem.Id" />

            <table class="table">
                <thead>
                    <tr>
                        <th> Ingredient</th>
                        <th> Amout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input asp-for="@Model.RecipeItem.Name" class="form-control" /></td>
                        <td><input asp-for="@Model.RecipeItem.Amount" class="form-control" /></td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
